
    <footer class="fixed-bottom">

      <!-- Section: Links  -->
  
      <!-- Copyright -->
     

       
<div class="d-flex justify-content-center align-items-center bg-body-tertiary"><div id="copyright"class="text-center p-3" style="background-color: rgba(0, 0, 0, 0)">
    © 2024 Copyright: EJS / Node JS / Express JS
    </div></div>
        
    </footer>
    <!-- Footer -->
   

    
    <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
    
  <!-- End of .container -->